<div class="pure-g padding-row">
    <div class="pure-u-1-3">
        <a ui-sref="home" id="homeBtn" class="pure-button button-plain">Home</a>
    </div>
</div>

<div class="pure-g padding-row">
    <div class="pure-u-1">
        <h3>All Evacuations</h3>
    </div>

</div>

<table class="pure-table pure-table-bordered" id="tblActiveEvacs">
	<thead>
		<tr>
			<th></th>
			<th ng-repeat="header in tableHeaders"><a style="cursor:pointer" title="Sort By {{header.Title}}" ng-click="sortTable(header.Title)">{{header.Title}}</a></th>
			<th>Extensions</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody ng-show="Evacuations.length == 0">
		<tr >
			<td colspan="6">No Avaliable Evacuations</td>
		</tr>
	</tbody>
	
	<tbody ng-show="Evacuations.length != 0" ng-repeat="object in EvacuationArrays">
		<tr ng-if="object.index == ActivePagenumber "  ng-repeat="e in object.array">									
			<td><a class="pure-button button-plain" id="btnViewEvac{{$index}}" ui-sref="ViewEvacuation({ id: e.Id })">View</a></td>
			<td>{{e.Posts.toString()}}</td>
			<td>{{e.Countries}}</td>
			<td>{{e.StartDate | date: 'MM/dd/yyyy' }}</td>
			<td>{{e.EndDate | date: 'MM/dd/yyyy' }}</td>
			<td>{{ (e.Status == 'Ended') ? (e.Extensions.length - 2) : 
			( (e.Extensions.length > 0) ? (e.Extensions.length - 1) : (0) )}}</td>
			<td>{{e.Notes}}</td>
		</tr>				
	</tbody>
</table>

<div class="pagination">
	<a >&laquo;</a>
	<a ng-repeat="page in NumberOfPages" class={{page.Active}} ng-click="pageChange(page.PageNumber)">{{page.PageNumber}}</a>
	<a >&raquo;</a>
</div>

<style>
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>