<div class="pure-form pure-form-stacked">
    <div class="pure-g padding-row">
        <div class="pure-u-1">
            <h4>Edit GFMS Entry</h4>
        </div>
    </div>
    <div class="pure-g padding-row">
        <div class="pure-u-1">
            <label for="selGFMSType">GFMS Type</label>
            <select id="selGFMSType" ng-model="GFMS.AdjustmentType">
                <option>Funding w/d for Prior Years</option>
                <option>Upward Spending Adj-Out</option>
            </select>
        </div>
    </div>
    <div class="pure-g padding-row">
        <div class="pure-u-1-3">
            <label>Date</label>
            <input type="date" ng-model="GFMS.Date" />
        </div>
        <div class="pure-u-1-3">
            <label>Amount</label>
            <input type="text" ng-input-currency id="inpAmount" ng-model="GFMS.Amount" />
        </div>
        <div class="pure-u-1-3"></div>
    </div>
    <div class="pure-g padding-row">
        <div class="pure-u-1-3">
            <label for="selAppropriation">Appropriation</label>
            <select id="selAppropriation" ng-model="GFMS.Appropriation">
                <option ng-repeat="a in Appropriations track by $index">{{a}}</option>
            </select>
        </div>
        <div class="pure-u-1-3">
            <label for="inpAllotment">Allotment</label>
            <select id="selAllotment" ng-model="GFMS.Allotment">
                <option ng-repeat="a in Allotments track by $index">{{a}}</option>
            </select>
        </div>
        <div class="pure-u-1-3"></div>
    </div>
</div>
<div class="pure-g padding-row">
    <div class="pure-u-1">
        <a id="btnSave" class="pure-button pure-button-primary" ng-click="saveGFMS()" ng-disabled="isDisabled">Save</a>&nbsp
        <a id="btnCancel" class="pure-button button-plain" ng-click="cancel()" ng-disabled="isDisabled">Cancel</a>
    </div>
</div>