<div class="pure-g pure-form pure-form-stacked">
    <div class="pure-u-1">
        <a class="pure-button button-plain" id="btnHome" ui-sref="home">Home</a>
    </div>
</div>
<div class="pure-form pure-form-stacked">
    <div class="pure-g">
        <div class="pure-u-1">
            <h3>Adjustment</h3>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1">
            <a class="pure-button pure-button-primary" id="btnEdit" ui-sref="EditAdjustment({ id: Adjustment.Id })">Edit Adjustment Info</a>
            <a class="pure-button button-error" ui-sref="Delete({ id: Adjustment.Id })" >Delete Adjustment </a>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-3">
            <label for="inpNumber">Adjustment</label>
            <input type="text" id="inpNumber" ng-model="Adjustment.Purpose" ng-readonly="true">
        </div>
        <div class="pure-u-1-3">
            <label for="inpAmount">Amount</label>
            <input type="text" ng-input-currency  id="inpAmount" ng-model="Adjustment.Amount" ng-readonly="true" />
        </div>
        <div class="pure-u-1-3" ng-show="Adjustment.OperatingAllowance == 100710 && Adjustment.Allotment == '1007'">
            <label>Restricted Funds</label>
            <input type="text" ng-input-currency  id="inpRestrictedFunds" ng-model="Adjustment.RestrictedFunds" ng-readonly="true" />
        </div>
    </div>
    <div class="pure-g" ng-show="Adjustment.OperatingAllowance == 100710 && Adjustment.Allotment == '1007'">
        <div class="pure-u-1-3">
            <label>Rewards Publicity</label>
            <input type="checkbox" ng-model="Adjustment.RewardsPublicity" id="chkRewardsPublicity" ng-readonly="true" ng-disabled="true" />
        </div>
        <div class="pure-u-1-2">
            <label>Rewards Program</label>
            <input id="selRewardsProgram" ng-model="Adjustment.RewardsProgram" type="text" ng-readonly="true" />
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-2">
            <label for="inpDate">Date</label>
            <input type="date" id="inpDate" ng-model="Adjustment.Date" ng-readonly="true" />
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1">
            <label for="inpDescription">Description</label>
            <textarea rows="6" cols="60" type="text" ng-readonly="true" ng-model="Adjustment.Description" id="inpDescription" />
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-3">
            <label for="inpAppropriation">Appropriation</label>
            <input type="text" id="inpAppropriation" ng-model="Adjustment.Appropriation" ng-readonly="true" />
        </div>
        <div class="pure-u-1-3">
            <label for="Allotment">Allotment</label>
            <input id="Allotment" type="text" ng-readonly="true" ng-model="Adjustment.Allotment" />
        </div>
        <div class="pure-u-1-3" ng-show="Adjustment.Allotment == 1007">
            <label for="inpOperatingAllowance">Operating Allowance</label>
            <input id="inpOperatingAllowance" ng-model="Adjustment.OperatingAllowance" type="text" ng-readonly="true" />
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1">
            <h3>Attachments</h3>
        </div>
    </div>
    <div class="pure-g padding-row">
		<div class="pure-u-1" ng-show="Adjustment.Id"> 
			<input type="file" id="inpFile" file-model="myFile" file-value="fileData" style="cursor:pointer;display:inline-block;" />&nbsp<a class="pure-button button-plain" style="cursor:pointer;display:inline-block;" ng-click="uploadFile()" style="cursor:pointer" ng-disabled="attaching" id="btnAttach" >Attach File</a><br>
		</div>
    </div>
    <div class="pure-g padding-row">
        <div class="pure-u-1">
            <table class="pure-table pure-table-bordered" id="attachmentsTable">
                <thead><tr><th></th><th>Filename</th></tr></thead>
                <tbody>
					<tr ng-show="Attachments.length == 0">
						<td colspan="2">No Attachments Associated</td>
					</tr>
                    <tr ng-repeat="e in Attachments track by $index">
						<td><a ng-click="removeAttachment(e.FileName)" style="cursor:pointer">Delete Attachment</a></td>
						
						<td><a target="_blank" href="{{e.ServerRelativeUrl}}">{{e.FileName}}</a></td>
					</tr>
                </tbody>
            </table>
        </div>
    </div>
</div>